{% load static %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Cinema Theatre Website Template</title>
    <link rel="stylesheet" href="{% static 'natya/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-image:url(/images/bg-body.jpg);">
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="images/logo.png" alt=""></a>
			<ul>
				<li>
					<a href="http://127.0.0.1:8000/home/">Home</a>
                </li>
                <li class="selected">
                    <a href="http://127.0.0.1:8000/home/about/">About</a>
                </li>
				<li>
					<a href="#">Auditions</a>
					<ul>
						<li>
							<a href="#">Drama</a>
						</li>
						<li>
							<a href="#">Dance</a>
						</li>
					</ul>
				</li>
			
				<li>
					<a href="http://127.0.0.1:8000/login/">Login</a>
				</li>
				
				<li>
					<a href="http://127.0.0.1:8000/register/">Register</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="about" >
		<h2 >About</h2 >
		<div>
			<div style="width: 100%;">
				<h4>Natyavalya</h4>
				<img src="{% static 'natya/images/cinema4.jpg' %}" alt="" style="align-content: center;">
				
				<p style="font-size: 16px;"> <br><br> <br> 
					Ruia Natyavlay of Ramnarain Ruia Autonomous College is the Theatre Department of the institution. Ruia, known for its cultural activities and Theatre plays has always been the first preference for students who want to pursue a career in the field of Theatre & Film industry. And to guide such artists , the organization behind this is our very own Ruia Natyavalay.
				</p> <br> <br>
				
				<p style="font-size: 16px;">
					Our department was established in the year 1937 back when this college was just started. Natyavalay completes 82 years of glory this year and looks forward to continue this legacy long and forever.
				</p> <br> <br>
				
				<p style="font-size: 16px;">
					Late.Vinay Apte and Shri.Dilip Prabhavalkar are veteran actors and the most important advisors of our organization. Also, we have given the most talented and versatile actors and actresses to the Marathi, Hindi, Gujarati Theatre as well as Film Industry.Do visit our Alumni section for detailed information of those shining stars.
				</p> <br> <br>
				
				<p style="font-size: 16px;">
					Apart from actors, we are proud to display expert personalities in other sections of Theare and Dramatics viz. Lights, Music , Direction, Set, Make-up and many more... <br><br>
				</p> <br> <br>
				<p style="font-size: 16px;">
					Ruia Natyavalay helps to build the artist in it’s students right from the scratch.You need not to be an expert or someone who has a basic knowledge of this field, our expert guides and directors which were once members of natyavalay will teach you and make sure that you would be an well skilled as well as a punctual artist in your field.
				</p>
				
			</div>
			
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="http://127.0.0.1:8000/home/">Home</a>
					</li>
					
					
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Praesent at urna ac urna congue convallis.
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					
				</p>
				<form action="index.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2020 Ruia Natyavalya
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
		</div>
	</div>
	<script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous' %}"></script>
</body style="background-image:url(/images/bg-body.jpg);">
</html>
