{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Ruia Natyavalay</title>
    <link rel="stylesheet" href="{% static 'natya/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div id="header">
		<div>
			<a href="home.html" id="logo"><img src="{% static 'natya/images/logo2.png' %}" alt=""></a>
			<ul>
				<li class="selected">
					<a href="http://127.0.0.1:8000/home/">Home</a>
				</li>
                    <li >
                        <a href="http://127.0.0.1:8000/home/about/">About</a>
                    </li>
					<li>
                        <a href="#">Auditions</a>
                        <ul>
                            <li>
                                <a href="#">Drama</a>
                            </li>
                            <li>
                                <a href="#">Dance</a>
                            </li>
                        </ul>
                    </li>
				</li>
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'profile' %}">profile</a>
				</li>
				<li>
					<a href="{% url 'logout' %}">Logout</a>
				</li>
				{% else %}
				<li>
					<a href="http://127.0.0.1:8000/login/">Login</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/register/">Register</a>
				</li>
				{% endif %}
			</ul>
			</ul>
		</div>

    </div>
 <div id="body" class="home">
    <div>
        <ul>
            <li>
                <h3>Drama Auditions For INT </h3>
                <a href="" >Upload Link</a>
                <p>Kindly Upload your Video of duration max.3 minutes on any monologue of yoour choice.We require a marathi monologue that would define your rural marathi language.</p>
            </li>

            <li>
                <h3> Dance Auditions for Rangavaikhari </h3>
                <a href="">Upload Link</a>
                <p>Upload any Dance video of maximum duration 3 minutes.NO HIPHOP/Western Dance Styles</p>
            </li>
        </ul>
     </div>
 </div>
 <div id="footer" >
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="http://127.0.0.1:8000/home/">Home</a>
					</li>

				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Proud to be a part of this Family!!!.
						</p>
						<span><a href="https://en.wikipedia.org/wiki/Dilip_Prabhavalkar">- Shri.Dilip Prabhavalkar</a></span>
					</li>

				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>

				</p>
				<form action="about.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2020 Ruia Natyavalay
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="https://www.facebook.com/ruianatyavalay/" id="facebook">facebook</a>  <a href="https://www.instagram.com/ruianatyavalay/?hl=en" id="googleplus">instagram</a>
			</div>
		</div>
</div>
    <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous' %}"></script>



</body>
</html>